broker.id={{ broker_id }}
zookeeper.connect={{ zk_node_1 }}:2181,{{ zk_node_2 }}:2181,{{ zk_node_3 }}:2181
listeners=REPLICATION://:9091,PLAINTEXT://:9092
listener.security.protocol.map
listener.security.protocol.map=REPLICATION:PLAINTEXT,PLAINTEXT:PLAINTEXT
log.dirs={{ kafka_log_dir }}
